{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "importOrder": [
    "^(context|utils|store|hooks|types|constants|components)/(.*)$",
    "^assets/(.*)$",
    "^[./]"
  ]
}
